@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

#About {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("assets/websiteBackground.jpg");
  background-size:auto;
  margin: 0px;
  z-index: 1;
}
.bodys {
  

  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  min-height: 70vh;
  text-align: left; /* Align text to the left */
  padding-left: 30px;
}

.fixed-message {
  margin-top: auto;
  padding-top: 10px;

  text-align: left; /* Align the text to the left */
}

.fixed-message h2 {
 
  font-size: 5em;
  color: white;
}

.description pre{
  padding-top: 40px;
  text-align: left; /* Align the text to the left */
  font-family: sans-serif;
  font-size: 1em;
  color: white;
}

.typewrite-wrap {
  text-align: left;
  color: white;
}


.home-image{
  margin-top: 100px;
}
.home-image img {
  
  float: right;  
  max-width: 100%;
  border-radius: 50%;
  padding-right: 30px;
}

.typewrite-wrap {
  color: white;
}


.about-title{
  text-align: center;
  color: white;
  font-size: 25px;

  font-family: 'Courier New', Courier, monospace;
}
/* Add this CSS for the toggle switch */
.switch {
  position: relative;
  display: block; /* Change to block to take full width */
  width: 60px;
  height: 34px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 500px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* End of toggle switch CSS */
.slide2 {
  display: none; /* Show slide1 (image) by default */
  width: 100%;
}

.slide1 {
  display: block; /* Hide slide2 (iframe) by default */
  width: 100%;
}

.slider-container {
  position: absolute;
  width: 100%; /* Set the width to 100% */
  overflow: hidden; /* Ensure the slider doesn't overflow */
  text-align: center; /* Center the content horizontally */
}


.skills-experience-title{
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}



.typewrite {
  font-size: 6em;
  letter-spacing: 5px;
  cursor: pointer;
}

.description {
  text-align: center;
}

.description h3 {
  font-size: 1.5em;
}
h1 span {
  -webkit-transition: .5s;
  transition: .5s;
}

html {
  scroll-behavior: smooth;
}


.About {
  color: whitesmoke;
  text-align: left;  
  font-size: 15px;
}

.About {
  color: whitesmoke;
  text-align: left;  
  font-size: 15px;
}

.about-text{

  position: absolute;
  right: 0;
  text-align: left;
  padding-right: 150px;
  font-size: 14px;
}
.content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: left;
  grid-column-gap: 100px;
}

.picture-me img {
  align-items: left;
  padding-left: 100px;


}


 
footer{

    padding-top: 10px;
}

header {
 
  box-shadow: 0 10px 15px -3px 
rgba(0, 0, 0, 0.1),
      0 4px 6px -4px 
rgba(0, 0, 0, 0.1);

}
header .wrapper {
  
  top: 0;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 50px;
 

}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
 
  width: 100%;
  height: 100%;
  
  padding: 0px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction:row-reverse;
  
  align-items: center;
  gap: 25px;
}
.navbar ul a {
  all: unset;
  color: 
#fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}
.navbar ul a:hover {
  color: 
#fff;
  text-decoration: underline overline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
  
}
.close-nav button {
  all: unset;
  background: 
#f7f7f7;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid 
rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: 
#fff;
}
.close-nav button:hover {
  color: 
#222222;
  background: 
white;
}

.menu-bar button {
  border: 1px solid 
rgba(0, 0, 0, 0.1);
  background: 
#f7f7f7;
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid 
#444444;
  border-bottom: 3px solid 
#444444;
}
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid 
#444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: 
white;
}
.menu-bar button:hover i {
  border-color: 
#222222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  
}

@media (min-width: 550px) {
  .navbar {
      
      all: unset;
      display: block;
  }
  .navbar ul {
      flex-direction: row;
     
      gap: 20px;
  }
  .navbar ul a {
      font-size: inherit;
  }
  .close-nav,
  .menu-bar {
      display: none;
  }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  z-index: 2;
  
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.opposite-wave {
  animation-name: wave-animation-opposite;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  z-index: 2;
  
}

@keyframes wave-animation-opposite {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(-14.0deg) }  /* Reversed rotation */
    20% { transform: rotate(8.0deg) }   /* Reversed rotation */
    30% { transform: rotate(-14.0deg) } /* Reversed rotation */
    40% { transform: rotate(4.0deg) }   /* Reversed rotation */
    50% { transform: rotate(-10.0deg) } /* Reversed rotation */
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}




.projects-title{
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
.row-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  
}

.row-list li{
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.row-list li  a pre{
  color: whitesmoke;
  width: calc(25% - 20px); /* Set the width of each item */
  height: 400px; /* Set the height of each item */

  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the width */
  position: relative; /* Positioning for hover effect */
  
}



footer{
  color: white;
  padding-left: 10px;
}



.references{
  text-align: center;
  color: white;
}

.references a{
  color: white;
  background: transparent;
}

.Author{
  font-size: 40px;
}

.Email{
  font-size: 30px;
}

.Email a{
  color: whitesmoke;
}